/* GENERAL STYLES */
.DR_Toolbar {
 
}

.DR_Toolbar .DR_Inner{
  background: #F3F3F3;
  border: 1px solid #DBDBDB;
  -moz-box-shadow: 0px 0px 4px rgba(153, 159, 162, 0.41); /* Firefox/Mozilla */
  -webkit-box-shadow: 0px 0px 4px rgba(153, 159, 162, 0.41); /*Safari/Chrome */
  box-shadow: 0px 0px 4px rgba(153, 159, 162, 0.41); /* Opera & W3C */
}

/* BUTTON STYLES */
.DR_Toolbar .DR_Inner .DR_Wrapper{
  border:1px solid transparent;
}

.DR_Toolbar .DR_Inner  .DR_Wrapper:hover{

}

/* SEPARATOR STYLES */
.DR_Toolbar .DR_Inner .DR_Separator{
  width: 1px;
  background: #DBDBDB;
  border-right: 1px solid #FFF;
}
.DR_Toolbar .DR_Inner .DR_PageSeparator {
  padding: 2px 0px 0px 0px;
  color: #BABABA;
}

/* PAGE INDICATOR STYLES */
.DR_Toolbar .DR_Inner .DR_PageIndicator .DR_CurrentPage,
.DR_Toolbar .DR_Inner .DR_PageIndicator .DR_LastPage{
  color: #000;
  border: 1px solid #BABABA;
}

.DR_Toolbar .DR_Inner .DR_PageIndicator .DR_CurrentPage{
  line-height: 22px;
}
.DR_Toolbar.active .DR_Inner .DR_PageIndicator .DR_CurrentPage{
  border: 1px solid #0072C6;
}

/* FONT ICON STYLES */
.DR_Toolbar .DR_Inner .DR_Wrapper .DR_PrintButton:before, 
.DR_Toolbar .DR_Inner .DR_Wrapper .DR_PreviousButton:before, 
.DR_Toolbar .DR_Inner .DR_Wrapper .DR_NextButton:before,
.DR_Toolbar .DR_Inner .DR_Wrapper .DR_ZoomInButton:before,
.DR_Toolbar .DR_Inner .DR_Wrapper .DR_ZoomOutButton:before{
  font-family: "dataflex-reports" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
  font-size: 15px;
  padding: 3px;
  color: #0072C6;
}
.DR_Toolbar .DR_Inner .DR_Wrapper:hover .DR_PrintButton:before, 
.DR_Toolbar .DR_Inner .DR_Wrapper:hover .DR_PreviousButton:before, 
.DR_Toolbar .DR_Inner .DR_Wrapper:hover .DR_NextButton:before,
.DR_Toolbar .DR_Inner .DR_Wrapper:hover .DR_ZoomInButton:before,
.DR_Toolbar .DR_Inner .DR_Wrapper:hover .DR_ZoomOutButton:before{
  color: #005899;
}

.DR_Toolbar .DR_Inner .DR_Wrapper .DR_PrintButton:before{
  content: "d";
}

.DR_Toolbar .DR_Inner .DR_Wrapper .DR_PreviousButton:before{ 
  content: "e";
  padding: 2px 3px;
}

.DR_Toolbar .DR_Inner .DR_Wrapper .DR_NextButton:before{
  content: "f";
  padding: 4px 3px;
}

.DR_Toolbar .DR_Inner .DR_Wrapper .DR_ZoomInButton:before{
  content: "b";
}

.DR_Toolbar .DR_Inner .DR_Wrapper .DR_ZoomOutButton:before{
  content: "c";
}